body {
    margin: 0;
    font-family: Barlow;
    cursor: default;
}

.nav {
    font-weight: bold;
    top: 15px;
    position: absolute;
    display: flex;
    width: 80vw;
    margin: 10px 10vw;
    justify-content: space-between;
    font-size: 18px;
    color: rgb(243, 243, 243);
    z-index: 10;
}

.left img {
    height: 30px;
}

.right {
    display: flex;
    cursor: pointer;
}

.ulc,
.ulcc {
    padding: 5px 0px;
    margin: 0px 13px;
    position: relative;
}

#home::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0%;
    width: 100%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 1px;
}

.ulc::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: rgb(255, 255, 255);
    transition: 0.4s;
    border-radius: 1px;
}

.ulc:hover:after {
    left: 0%;
    width: 100%;
}

.ul1 {
    position: relative;
}

.list {
    margin: 10px 0px 0px 14px;
    height: 0;
    overflow: hidden;
    position: absolute;
    width: 180px;
    border: 1px solid rgba(0, 0, 0, 0);
}

.item {
    opacity: 0;
    color: rgb(77, 77, 77);
    transition: 1s ease;
    padding: 10px 15px 10px 20px;
    background-color: white;
    font-weight: 600;
    font-size: 16px;
}

.ul1:hover .list {
    height: max-content;
    transition-delay: 0.5s;
    overflow: visible;
    transition-delay: border 0.5s;
    border: 1px solid black;
}

.ul1:hover .item {
    opacity: 1;
}

.ul1:hover .ul2 div {
    opacity: 0;
}

.ul2 {
    top: 40px;
    left: 180px;
    width: 0px;
    overflow: hidden;
    position: absolute;
    transition-delay: border 0.4s;
}

.ul2 div {
    background-color: white;
    width: 140px;
    padding: 10px 20px;
    opacity: 0;
    transition: 1s;
}

.item:hover .ul2 {
    border: 1px solid black;
    height: max-content;
    width: max-content;
}

.item:hover .ul2 div {
    opacity: 1;
}

.banner {
    position: relative;
    height: 40vw;
    overflow: hidden;
}

.char {
    position: absolute;
    left: calc(50vw - 315px);
    z-index: -100;
    height: 95vh;
    transition: 0.3s;
}

.back {
    margin: auto;
    position: absolute;
    z-index: -1000;
    width: 100vw;
}

.text {
    left: calc(50vw - 300px);
    bottom: 15vw;
    position: absolute;
    width: 600px;
    text-align: center;
    color: white;
    font-size: 75px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s;
    transition-delay: 0s;
}

.button {
    position: absolute;
    font-family: Montserrat;
    font-weight: bold;
    width: 120px;
    font-size: 16px;
    padding: 10px 14px;
    border-radius: 3px;
    background-color: white;
    text-align: center;
    left: calc(50vw - 74px);
    bottom: 10vw;
    transition: background-color 0.5s;
    cursor: pointer;
}

.button:hover {
    background-color: rgba(255, 255, 255, 0.753);
}

h2 {
    font-family: Montserrat;
    text-align: center;
    margin: 50px 0px 10px 0px;
}

h3 {
    text-align: center;
    margin: 10px 0px 120px 0px;
    font-weight: 100;
}

.flex {
    width: 78vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4, 2fr);
    gap: 3vw;
}

.sp {
    position: relative;
    width: 17vw;
    height: 27vw;
    cursor: pointer;
}

.cap,
.cost {
    position: absolute;
    font-weight: bolder;
    color: rgba(0, 0, 0, 0.719);
}

.sp img {
    position: absolute;
    width: 17vw;
    transition: 0.7s;
}

.show {
    opacity: 1;
}

.hide {
    opacity: 0;
}

.cap {
    width: 13vw;
    top: 22.5vw;
    transition: 0.7s;
}

.name {
    font-size: 20px;
}

.note {
    position: relative;
    margin-top: 10px;
    font-size: 14px;
}

.note1 {
    position: absolute;
    opacity: 1;
    transition: 0.5s;
}

.add {
    position: absolute;
    opacity: 0;
    transition: 0.5s;
}

.cost {
    transition: 0.7s;
    top: 21.7vw;
    right: 0.5vw;
    font-size: 19px;
}

.img:hover .show {
    opacity: 0;
}

.img:hover .hide {
    opacity: 1;
}

.note:hover .note1 {
    opacity: 0;
}

.note:hover .add {
    opacity: 1;
}

.add::after {
    content: '';
    position: absolute;
    bottom: -5px;
    left: 50%;
    width: 0%;
    height: 1px;
    background-color: rgb(0, 0, 0);
    transition: 0.4s;
    border-radius: 1px;
}

.add:hover:after {
    left: 0%;
    width: 100%;
}
.menu-icon {
    cursor: pointer;
    font-size: 25px; /* Kích thước icon */
    color: white; /* Màu sắc icon */
    display: none;
    align-items: center;
    justify-content: right;
    margin-right: 20px;
}
@media (max-width: 960px) {
    .nav {
        width: 94vw;
        margin: 5px 3vw;
        font-size: 12px;
    }

    .left img {
        height: 20px;
    }

    .ulc,
    .ulcc {
        padding: 5px 0px;
        margin: 0px 8px;
        position: relative;
    }

    .text {
        left: calc(100vw - 370px);
        bottom: 35%;
        width: 300px;
        font-size: calc(10px + 5vw);
        text-align: end;
    }

    .button {
        bottom: 15%;
        width: calc(50px + 4vw);
        font-size: calc(9px + 0.4vw);
        padding: 10px 14px;
        left: calc(48vw - 39px);
        background-color: rgba(0, 0, 0, 0.308);
        color: white;
    }

    .char {
        position: absolute;
        left: calc(0px + 5vw);
        z-index: -100;
        height: 60vw;
    }

    h3 {
        margin: 10px 0px 60px 0px;
    }

    .flex {
        grid-template-columns: repeat(2, 2fr);
        gap: 6vw;
    }

    .sp {
        width: 34vw;
        height: 54vw;
    }

    .sp img {
        width: 34vw;
        transition: 0.7s;
    }

    .cap {
        width: 26vw;
        top: 44vw;
        transition: 0.7s;
    }

    .name {
        font-size: calc(14px + 0.5vw);
    }

    .note {
        margin-top: 0.8vw;
        font-size: calc(10px + 0.5vw);
    }

    .cost {
        transition: 0.7s;
        top: 43vw;
        right: 0.5vw;
        font-size: calc(16px + 0.5px);
    }
}
@media (max-width: 700px){
    .menu-icon {
        display: flex;
    }

    /* Khi checkbox được chọn, hiển thị menu */
    .menu-checkbox:checked + .menu-icon + nav {
        display: flex;
        top: 59px;
    }
    .right{
        display: none;
    }
    .char{
        margin-left: 40px;
    }
}